html {
  scroll-behavior: smooth;
  font-size: 10px;
}

.main-section header {
  font-family: 'Lora', serif;
  font-size: 3.5em;
  text-align: center;
  margin: 60px 0 -30px;
}
#navbar header {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 6em;
}
#navbar {
  display: flex;
  flex-direction: column;
}
#navbar span {
  color: hsl(53, 88%, 48%);
}
#navbar ul {
  align-self: center;
  width: 650px;
  max-width: 100%;
  height: 352px;
  overflow: auto;
  outline: 2px solid #d4bc3c;
  margin: 0;
  padding: 0;
}
.nav-link {
  display: block;
  list-style: none;
  text-decoration: none;
  font-family: 'Cabin Condensed', sans-serif;
  padding: 10px 0 10px 12px;
  border-bottom: 1px solid #d4bc3c;
  color: #000;
  font-size: 5.5em;
}

.main-section p, article p, .main-section ul, article ul {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1.445em;
}
.main-section p, article p {
  padding: 0 20px 0;
}
.main-section ul, article ul {
  padding: 0 20px 0 77px;
}
.main-section p:first-letter, article p:first-letter {
  padding-left: 20px;
}

.main-section ul {
  margin-left: -26px;
}
.main-section ul li {
  padding-bottom: 10px;
}

#lista-diferente {
  font-size: 1em;
}


pre {
  padding: 5px;
  text-align: left;
  background: hsl(53, 95%, 68%);
  border-radius: 5px;
  margin: 50px 70px 50px 40px;
  padding: 20px;
}
code {
  white-space: pre-line;
  line-height: 1.6;
  padding: 0;
  display: inline-block;
  overflow-wrap: break-word;
  text-align: left;
  width: 100%;
}

@media screen and (max-device-width: 317px) {
  body {
    overflow-x: hidden;
  }
  .main-section p, .main-section ul, article p, article ul {
    font-size: 1.8em;
  }
  #codigo-dif {
  width: 90%;
  }
  .main-section {
    padding: 0 12px 0 10px;
  }
  pre {
    font-size: 2.1755em;
  }
}

@media screen and (min-device-width: 318px) {
  #navbar ul {
    height: 328px;
  }
  #navbar a {
    font-size: 5em;
  }
  .main-section p, article p, .main-section ul, article ul {
    font-size: 2.5em;
  }
  pre {
    font-size: 2.8em;
  }
  #codigo-dif {
  width: 90%;
  }
}

@media screen and (min-device-width: 358px) {
  .main-section {
    padding: 0 8px;
  }
  #navbar ul {
    height: 300px;
  }
  #navbar a {
    font-size: 4.5em;
  }
  .main-section p, article p, .main-section ul, article ul {
    font-size: 2.7em;
  }
  #lista-diferente {
  font-size: 1.01em;
  }
  pre {
    font-size: 3.3em;
  }
}

@media screen and (min-device-width: 380px) {
  .main-section header {
    font-size: 4.5em;
  }
  .main-section ul, .main-section p, article p, article ul {
    font-size: 3.4em;
  }
}

@media screen and (min-device-width: 470px) {
  #navbar ul {
    height: 331px;
  }
  #navbar a {
    font-size: 3.75em;
  }
  .main-section p, article p, .main-section ul, article ul {
  font-size: 3.1em;
  }
  pre {
    font-size: 2.8em;
  }
}

@media screen and (min-device-width: 500px) {
  #navbar ul {
    height: 240px;
  }
  #navbar a {
    font-size: 3.25em;
  }
  .main-section header {
    font-size: 3.65em;
  }
  pre {
    font-size: 2.87em;
  }
}

@media screen and (min-device-width: 560px) {
  #navbar ul {
    height: 348px;
  }
  #navbar a {
    font-size: 4em;
  }
  .main-section {
    padding: 10px;
  }
  .main-section header {
    font-size: 4.1em;
  }
  .main-section p, article p {
    padding: 0;
    font-size: 4.5em;
  }
  .main-section ul, article ul {
    padding-left: 55px;
    font-size: 4.5em;
  }
  pre {
    font-size: 3.7em;
  }
}

@media screen and (min-device-width: 630px) {
  #navbar {
    margin-bottom: 60px;
  }
  #navbar header {
    margin: -40px 0;
  }
  #navbar ul {
    height: 285px;
  }
  #navbar a {
    font-size: 3em;
  }
  .main-section header {
    margin-top: -50px;
    margin-bottom: -35px;
    font-size: 3.2em;
  }
  .main-section p, article p, .main-section ul, article ul {
    font-size: 3em;
  }
  pre {
    font-size: 2.55em;
  }
}

@media screen and (min-device-width: 660px) {
  #navbar a {
    font-size: 1.85em;
  }
  .main-section p, article p, .main-section ul, article ul {
    line-height: 1.32;
  }
}

@media screen and (min-device-width: 720px) {
  #navbar header {
    margin: 0 0 -20px;
    font-size: 4em;
  }
  #navbar ul {
    height: 258px;
  }
  #navbar a {
    font-size: 2.55em;
  }
  .main-section header {
    font-size: 3em;
    margin-bottom: -20px;
  }
  .main-section p, article p, .main-section ul, article ul {
    font-size: 2.5em;
  }
  pre {
    font-size: 2.25em;
  }
}

@media screen and (min-device-width: 740px) {
  #navbar header {
    font-size: 5em;
  }
  #navbar ul {
    height: 320px;
  }
  #navbar a {
    font-size: 3.55em;
  }
  .main-section header {
    font-size: 4.1em;
  }
  .main-section p, article p, .main-section ul, article ul {
    font-size: 3.9em;
  }
  pre {
    font-size: 3.25em;
  }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
  #navbar {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
  }
  #navbar ul {
    height: 170px;
    width: 70%;
    align-self: center;
  }
  #navbar a {
    font-size: 1.83em;
    padding: 10px 0 10px 12px;
  }
}

@media screen and (min-width: 1000px) {
  #navbar {
    position: fixed;
    height: 100%;
    width: 300px;
    left: 0;
    top: 0;
    border-right: solid #d4bc3c;
    z-index: 100;
  }
  #navbar header {
    margin-top: -20px;
    padding: 0 0 10px;
    font-size: 2.5em;
  }
  #navbar ul {
    height: 100%;
    width: 100%;
    outline: none;
  }
  .nav-link {
    border: none;
    border-top: 1.6px solid #d4bc3c;
  }
  #navbar a {
    font-size: 2.2em;
    padding: 3px 0 3px 10px;
  }
  #main-doc {
    margin-top: 10px;
    margin-left: 305px;
    padding: 0;
  }
  .main-section header {
    font-size: 2.55em;
    margin-top: -28px;
  }
  .main-section p, article p, .main-section ul, article ul {
    padding-right: 15px;
    font-size: 2.47em;
  }
  pre {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  #navbar header {
    margin: 0;
    font-size: 2.687em;
  }
  #navbar a {
    font-size: 2.35em;
  }
  .main-section p, article p, .main-section ul, article ul {
    font-size: 2.5em;
  }
  pre {
    margin: 25px 150px;
  }
}

@media screen and (min-width: 1300px) {
  #navbar a {
    font-size: 2.55em;
  }
  .main-section p, article p, .main-section ul, article ul {
    font-size: 2.6em;
  }
  pre {
    font-size: 2.14em;
  }
}

@media screen and (min-width: 1400px) {
  #navbar {
    width: 350px;
  }
  #navbar header {
    font-size: 3.13em;
  }
  #navbar a {
    font-size: 2.6em;
    padding: 6px 0 6px 13px;
  }
  #main-doc {
    margin-left: 355px;
  }
  .main-section header {
    font-size: 3.1em;
  }
  .main-section p, article p, .main-section ul, article ul {
    font-size: 2.85em;
  }
  pre {
    font-size: 2.4em;
  }
}

@media screen and (min-width: 1640px) {
  #navbar {
    width: 435px;
  }
  #navbar header {
    font-size: 3.896em;
    margin: 0;
  }
  #navbar a {
    font-size: 3.1em;
    padding: 4.5px 0 4.5px 12px;
  }
  #main-doc {
    margin-left: 440px;
  }
  .main-section header {
    font-size: 3.55em;
  }
  .main-section p, article p, .main-section ul, article ul {
    font-size: 3.4em;
  }
  pre {
    font-size: 2.75em;
  }
}

@media screen and (min-width: 1900px) {
  #navbar a {
    font-size: 3.45em;
    padding: 6px 0 6px 13px;
  }
  .main-section header {
    font-size: 3.9em;
  }
  .main-section p, article p, .main-section ul, article ul {
    font-size: 3.75em;
  }
  pre {
    font-size: 3.28em;
  }
}

@media only screen and (min-width: 2000px) {
  #navbar {
    width: 600px;
  }
  #navbar header {
    font-size: 5.37em;
    padding: 0;
    margin: 0;
  }
  #navbar a {
    font-size: 4.7em;
    padding: 10px 0 10px 20px;
  }
  #main-doc {
    margin-left: 625px;
  }
  .main-section header {
    font-size: 5.05em;
  }
  .main-section p, article p, .main-section ul, article ul {
    font-size: 4.85em;
  }
  .main-section p:first-letter, article p:first-letter {
    padding-left: 15px;
  }
  pre {
    font-size: 4.1em;
  }
}